<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1> Formulario creación de canciones </h1>

    <form action = 'create' method = 'POST'>
        <label for = 'nombre'> Nombre</label>
        <input type = 'text' name = 'nombre' placeholder= 'Nombre canción' >

        <label for = 'compositor'>Compositor</label>
        <input type = 'text' name = 'compositor' placeholder= 'COmpositor de la canción' >

        <label for = 'duracion'> Milisegundos</label>
        <input type = 'text' name = 'duracion' placeholder= 'Duración de la canción' >


        <input type = 'submit'>

    </form>

</body>
</html>