<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1> Formulario login de usuarios </h1>

    <form action = 'login' method = 'POST' >

        <label for = 'email'> Correo electrónico</label>
        <input type = 'text' name = 'email' placeholder= 'E-mail' value = '<%= locals.oldData ? oldData.email : null %>'>
        <% if (locals.errores && errores.email) { %>
            <%= errores.email.msg %>
        <% } %>

        <label for = 'contrasena'> Contraseña</label>
        <input type = 'text' name = 'contrasena' placeholder= 'Contraseña' >
        <% if (locals.errores && errores.contrasena) { %>
            <%= errores.contrasena.msg %>
        <% } %>

        <label for = 'recordar'> Recordarme </label>    
        <input type= "checkbox" name = 'recordar'>

        <input type = 'submit'>

    </form>

</body>
</html>
