<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1> Formulario creación de productos </h1>

    <form action = 'create' method = 'POST' enctype = 'multipart/form-data'>
        <label for = 'id'> Id del producto</label>
        <input type = 'text' name = 'id' placeholder= 'Id del producto' >

        <label for = 'nombre'> Nombre del producto</label>
        <input type = 'text' name = 'nombre' placeholder= 'Nombre del producto' >

        <label for = 'precio'> Precio del producto</label>
        <input type = 'text' name = 'precio' placeholder= 'Precio del producto' >

        <label for = 'cantidad'> Cantidad del producto</label>
        <input type = 'text' name = 'cantidad' placeholder= 'Cantidad del producto' >

        <label> Imagen del producto </label>
        <input type = 'file' name = 'imagenUsuario'>


        <input type = 'submit'>

    </form>

</body>
</html>